@use "sass:map";
@use "./base.scss";
@use "./themes";
@use "./variables.scss" as *;


// put your custom CSS here!

@media all and ($desktop) {
  body div#quartz-root.page div#quartz-body {
    width: 100%;
    max-width: 100%;
    padding: 0 auto;
  }
}
