@use "./base.scss";
@use "./themes";
@use "./variables.scss" as *;

// put your custom CSS here!

@media all and ($desktop) {
  body div#quartz-root.page div#quartz-body {
    width: 10%;
    max-width: 10%;
    padding: 0 auto;
  }
}