@use "./base.scss";
@use "./themes";

// put your custom CSS here!

@media all and ($desktop) {
  body div#quartz-root.page div#quartz-body {
    width: 100%;
    max-width: 100%;
    padding: 0 auto;
  }
}