@use "sass:map";
@use "./base.scss";
@use "./themes";
@use "./variables.scss" as *;


// put your custom CSS here!

@media all and ($desktop) {
  body div#quartz-root.page div#quartz-body {
    width: 100%;
    max-width: 100%;
    padding: 0 auto;
  }
}

// Center images only inside the right sidebar's popover content (e.g. the
// CharacterDetails component wraps content in an article with class
// `popover-hint`). This avoids globally centering every image.
.page > #quartz-body .sidebar.right .popover-hint img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}